<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/navbar'); %>
<div class="container">
    <h1>Get And Edit Student Page</h1>

    <div id="app">
        <form @submit.prevent="edit">
            <input class="form-control" type="text" v-model="chooseElement">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <ul class="list-group" v-else>
            <li class="list-group-item" v-for="server in servers" @click="choose(server.id)">
                {{ server.name }}
            </li>
        </ul>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="/app.js"></script>
</body>
</html>
