
<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/navbar'); %>
<div class="container">
    <h1>Remove Page(click to remove)</h1>

    <div id="app">
        <ul class="list-group" v-else>
            <li class="list-group-item" v-for="server in servers" @click="remove(server.id)">
                {{ server.name }}
            </li>
        </ul>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="/app.js"></script>
</body>
</html>
